
@media only screen and (max-width: 600px) {
  .why-join, .how-it-works {
    flex-direction: column !important;
  }
  .why-join-item, .how-it-works-item {
    width: 100% !important;
    margin-bottom: 5px;
  }
  .menu-btn, .inverse-menu-btn  {
    font-size: 12px !important;
    font-weight: 100 !important;
    padding: 4px 12px !important;
  }
  .container-menu {
    padding: 2px 4px !important;
  }
  .logo a {
    padding: 0 !important;
  }
  .main-banner .slogan {
    width: 100% !important;
    height: 400px !important;
  }
  
  .main-banner .slogan h1 {
    margin-top: 150px !important;
    font-size: 45px !important;
  }
}


@media only screen and (max-width: 330px) {
  .logo a {
    font-size: 80% !important;
  }
  .main-banner .slogan h1 {
    margin-top: 200px !important;
    font-size: 35px !important;
  }
  .main-banner .slogan h2 {
    font-size: 20px !important;
  }
}
